<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cnblog.mapper.CbMTempMapper">
	<resultMap id="resultMap" type="com.cnblog.model.CbMTempModel">
		<id column="ROW_ID" property="rowId"/>
		<result column="INFO" property="info"/>
		<result column="NOTES" property="notes"/>
	</resultMap>
	
	<sql id="thisSql">ROW_ID,INFO,NOTES</sql>
	
	<insert id="insert">
		insert into cb_m_temp(<include refid="thisSql"/>) 
		values(#{rowId},#{info},#{notes})
	</insert>
	
	<select id="selectAll" resultMap="resultMap" >
		select * from cb_m_temp
	</select>
</mapper>